<table class="table table-sm table-dark table-striped" *ngIf="tracks">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Track</th>
			<th scope="col">Duration</th>
			<th scope="col">Primary Artist</th>
			<th scope="col">Album</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let track of tracks; let i = index">
			<td>{{i+1}}</td>
			<td>
				<a>{{track.name}}</a>
			</td>
			<td>{{track.duration_ms}}</td>
			<td><a>{{track.artists[0].name}}</a></td>
			<td><a>{{track.album.name}}</a></td>
		</tr>
	</tbody>
</table>
