.image-thumb {
    width: 250px;
    height: 250px;
}

a:hover {
	color: white;
}

.back-btn {
    background: none;
    border: none;
}

.back-btn:hover, .back-btn:focus {
    cursor: pointer;
    transform: scale(1.05);
}